{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Add promotion to category!</h1>
        <div class="row">
            <div class="col-lg-4">
                <br>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form.promotion) }}
                {{ form_row(form.category) }}
                <button type="submit" class="btn btn-primary btn-block">Apply</button>
                {{ form_end(form) }}
                <br>
            </div>
        </div>
    </div>
{% endblock %}

